//! **************************************************************************
// Written by: Map P.20131013 on Fri May 16 11:29:59 2014
//! **************************************************************************

SCHEMATIC START;
COMP "sw_i<6>" LOCATE = SITE "T5" LEVEL 1;
COMP "sw_i<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "clk_100MHz" LOCATE = SITE "L15" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "T15" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "P3" LEVEL 1;
COMP "btn<4>" LOCATE = SITE "F6" LEVEL 1;
COMP "btn<5>" LOCATE = SITE "F5" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "sw_i<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "sw_i<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "sw_i<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "sw_i<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "sw_i<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sw_i<5>" LOCATE = SITE "R5" LEVEL 1;
SCHEMATIC END;

