
# PlanAhead Generated physical constraints 

NET "clk_100MHz" LOC = L15;
NET "switch" LOC = A10;

NET "leds[0]" LOC = U18;
NET "leds[1]" LOC = M14;
NET "leds[2]" LOC = N14;
NET "leds[3]" LOC = L14;
NET "leds[4]" LOC = M13;
NET "leds[5]" LOC = D4;
NET "leds[6]" LOC = P16;
NET "leds[7]" LOC = N12;