//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 02 18:52:49 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "fx2Clk_in" LOCATE = SITE "C10" LEVEL 1;
COMP "DDR2DQ<10>" LOCATE = SITE "N2" LEVEL 1;
COMP "DDR2DQ<11>" LOCATE = SITE "N1" LEVEL 1;
COMP "DDR2DQ<12>" LOCATE = SITE "T2" LEVEL 1;
COMP "DDR2DQ<13>" LOCATE = SITE "T1" LEVEL 1;
COMP "DDR2DQ<14>" LOCATE = SITE "U2" LEVEL 1;
COMP "DDR2DQ<15>" LOCATE = SITE "U1" LEVEL 1;
COMP "DDR2LDQS_N" LOCATE = SITE "L3" LEVEL 1;
COMP "DDR2LDQS_P" LOCATE = SITE "L4" LEVEL 1;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "fx2Data_io<0>" LOCATE = SITE "A2" LEVEL 1;
COMP "fx2Data_io<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "fx2Data_io<2>" LOCATE = SITE "C6" LEVEL 1;
COMP "fx2Data_io<3>" LOCATE = SITE "B3" LEVEL 1;
COMP "fx2Data_io<4>" LOCATE = SITE "A3" LEVEL 1;
COMP "fx2Data_io<5>" LOCATE = SITE "B4" LEVEL 1;
COMP "fx2Data_io<6>" LOCATE = SITE "A4" LEVEL 1;
COMP "fx2Data_io<7>" LOCATE = SITE "C5" LEVEL 1;
COMP "DDR2UDQS_N" LOCATE = SITE "P1" LEVEL 1;
COMP "DDR2UDQS_P" LOCATE = SITE "P2" LEVEL 1;
COMP "fx2Read_out" LOCATE = SITE "F13" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "R5" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "T5" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "fx2GotData_in" LOCATE = SITE "C15" LEVEL 1;
COMP "DDR2A<10>" LOCATE = SITE "F4" LEVEL 1;
COMP "DDR2A<11>" LOCATE = SITE "D3" LEVEL 1;
COMP "DDR2A<12>" LOCATE = SITE "G6" LEVEL 1;
COMP "DDR2BA<0>" LOCATE = SITE "F2" LEVEL 1;
COMP "DDR2BA<1>" LOCATE = SITE "F1" LEVEL 1;
COMP "DDR2BA<2>" LOCATE = SITE "E1" LEVEL 1;
COMP "DDR2DQ<0>" LOCATE = SITE "L2" LEVEL 1;
COMP "DDR2DQ<1>" LOCATE = SITE "L1" LEVEL 1;
COMP "DDR2DQ<2>" LOCATE = SITE "K2" LEVEL 1;
COMP "DDR2DQ<3>" LOCATE = SITE "K1" LEVEL 1;
COMP "DDR2DQ<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "DDR2DQ<5>" LOCATE = SITE "H1" LEVEL 1;
COMP "DDR2DQ<6>" LOCATE = SITE "J3" LEVEL 1;
COMP "DDR2DQ<7>" LOCATE = SITE "J1" LEVEL 1;
COMP "DDR2DQ<8>" LOCATE = SITE "M3" LEVEL 1;
COMP "DDR2DQ<9>" LOCATE = SITE "M1" LEVEL 1;
COMP "DDR2CLK_N" LOCATE = SITE "G1" LEVEL 1;
COMP "DDR2CLK_P" LOCATE = SITE "G3" LEVEL 1;
COMP "fx2GotRoom_in" LOCATE = SITE "A9" LEVEL 1;
COMP "DDR2A<0>" LOCATE = SITE "J7" LEVEL 1;
COMP "DDR2A<1>" LOCATE = SITE "J6" LEVEL 1;
COMP "DDR2A<2>" LOCATE = SITE "H5" LEVEL 1;
COMP "DDR2A<3>" LOCATE = SITE "L7" LEVEL 1;
COMP "DDR2A<4>" LOCATE = SITE "F3" LEVEL 1;
COMP "DDR2A<5>" LOCATE = SITE "H4" LEVEL 1;
COMP "DDR2A<6>" LOCATE = SITE "H3" LEVEL 1;
COMP "DDR2A<7>" LOCATE = SITE "H6" LEVEL 1;
COMP "DDR2A<8>" LOCATE = SITE "D2" LEVEL 1;
COMP "DDR2A<9>" LOCATE = SITE "D1" LEVEL 1;
COMP "DDR2CASN" LOCATE = SITE "K5" LEVEL 1;
COMP "fx2Write_out" LOCATE = SITE "E13" LEVEL 1;
COMP "DDR2RASN" LOCATE = SITE "L5" LEVEL 1;
COMP "fx2PktEnd_out" LOCATE = SITE "C4" LEVEL 1;
COMP "DDR2CKE" LOCATE = SITE "H7" LEVEL 1;
COMP "DDR2LDM" LOCATE = SITE "K3" LEVEL 1;
COMP "DDR2ODT" LOCATE = SITE "K6" LEVEL 1;
COMP "DDR2UDM" LOCATE = SITE "K4" LEVEL 1;
COMP "DDR2WEN" LOCATE = SITE "E3" LEVEL 1;
COMP "DDR2ZIO" LOCATE = SITE "C2" LEVEL 1;
COMP "DDR2RZQ" LOCATE = SITE "L6" LEVEL 1;
COMP "fx2Addr_out<0>" LOCATE = SITE "A14" LEVEL 1;
COMP "fx2Addr_out<1>" LOCATE = SITE "B14" LEVEL 1;
COMP "fx2OE_out" LOCATE = SITE "A15" LEVEL 1;
PIN
        ddr_wrapper/ddr_interface/u_ddr2/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/samc_0_pins<588>
        = BEL
        "ddr_wrapper/ddr_interface/u_ddr2/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/samc_0"
        PINNAME SELFREFRESHMODE;
PIN
        ddr_wrapper/ddr_interface/u_ddr2/memc3_infrastructure_inst/BUFPLL_MCB1_pins<3>
        = BEL
        "ddr_wrapper/ddr_interface/u_ddr2/memc3_infrastructure_inst/BUFPLL_MCB1"
        PINNAME LOCK;
PIN
        ddr_wrapper/ddr_interface/u_ddr2/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/CKE_Train_pins<2>
        = BEL
        "ddr_wrapper/ddr_interface/u_ddr2/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/CKE_Train"
        PINNAME Q;
PIN
        "ddr_wrapper/ddr_interface/u_ddr2/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/samc_0_pins<588>"
        TIG;
PIN
        "ddr_wrapper/ddr_interface/u_ddr2/memc3_infrastructure_inst/BUFPLL_MCB1_pins<3>"
        TIG;
PIN
        "ddr_wrapper/ddr_interface/u_ddr2/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/CKE_Train_pins<2>"
        TIG;
SCHEMATIC END;

