NET "clk" 			   LOC = L15;
NET "reset" 			LOC = T15;

# PlanAhead Generated physical constraints 
NET "switch[0]" LOC = A10 |IOSTANDARD = LVCMOS33;
NET "switch[1]" LOC = D14 |IOSTANDARD = LVCMOS33;
NET "switch[2]" LOC = C14 |IOSTANDARD = LVCMOS33;
NET "switch[3]" LOC = P15 |IOSTANDARD = LVCMOS33;
NET "switch[4]" LOC = P12 |IOSTANDARD = LVCMOS33;
NET "switch[5]" LOC = R5  |IOSTANDARD = LVCMOS33;
NET "switch[6]" LOC = T5  |IOSTANDARD = LVCMOS33;
NET "switch[7]" LOC = E4  |IOSTANDARD = LVCMOS33;

NET "leds[0]" LOC = U18 |IOSTANDARD = LVCMOS33;
NET "leds[1]" LOC = M14 |IOSTANDARD = LVCMOS33;
NET "leds[2]" LOC = N14 |IOSTANDARD = LVCMOS33;
NET "leds[3]" LOC = L14 |IOSTANDARD = LVCMOS33;
NET "leds[4]" LOC = M13 |IOSTANDARD = LVCMOS33;
NET "leds[5]" LOC = D4  |IOSTANDARD = LVCMOS33;
NET "leds[6]" LOC = P16 |IOSTANDARD = LVCMOS33;
NET "leds[7]" LOC = N12 |IOSTANDARD = LVCMOS33;

# USB UART Connector
NET "UART_Rx" LOC = A16 |IOSTANDARD = LVCMOS33; # Bank = 0, Pin name = IO_L66N_SCP0, Sch name = USBB-RXD
NET "UART_Tx" LOC = B16 |IOSTANDARD = LVCMOS33; # Bank = 0, Pin name = IO_L66P_SCP1, Sch name = USBB-TXD